.session-create-row {
    border: 1px solid #C6D2D9 !important;
    box-shadow: 0 0 20px #0000001a;
    padding-top: 15px;
    padding-bottom: 15px;
}

.session-create-row .timer, .session-card-body-line .timer {
    font-weight: bold;
    font-size: 20px;
    width: 120px;
    text-align: center;
    display: block;
    line-height: 35px;
    border-left: 1px dotted #C6D2D9;
}

.session-create-row .separator {
    border-right: 1px dotted #C6D2D9;
}

.session-create-row .btn-start-stop {
    min-width: 90px;
}

.session-card-body {
    border: 1px solid #C6D2D9;
    padding: 0px !important;
}

.session-card-body-line {
    padding: 15px;
    transition: box-shadow .2s ease-in-out;
    align-items: center;
}

.session-card-body-line .session-bagde-list {
    margin-left: 15px;
    margin-right: 15px;
}

.session-card-body-line .column

.session-card-body-line:not(:last-child) {
    border-bottom: 1px solid #C6D2D9;
}

.session-card-body-line:hover {
    box-shadow: 0 0 20px #0000001a;
}